@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141d37;
    transition: background  linear 0.3s 
    
}

.logo{
    margin: 0;
    margin-left: 50px;
}

#principal{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

#header-container{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 80%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
    top: 0;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media{
    margin-top: 3rem;
    display: flex;
    width: fit-content;
    
}

.social-media a {
    
    text-decoration: none;
    color: white;
    padding: 1rem 5rem;
    border: 1px solid white;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    
    
}

.social-media a:hover{
    background-color: white;
    color: #141d37;
    box-shadow: 0 0 2em white;
}

ul{
    margin: 0;
}

#eu{
    width: 30rem;
    height: 30rem;
    background-image: url('./imagem/fundo2.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -3;
    
}

@media screen and (max-width: 508px) {

    h1{
        font-size: 28px;
        text-align: center;
    }

    .logo h2{
        
        font-size: 15px;
        text-align: center;

    }

    .logo{
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-media{
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        width: fit-content;
        
    }
    
    .social-media a {
        
        text-decoration: none;
        color: white;
        padding: 0.6rem 2rem;
        border: 1px solid white;
        min-width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s ease-in-out;
        margin-left: 7px;
        
        
    }

    
}

/* menu */



#menu-btn{
    margin-top: 2rem;
    position: fixed;
    right: 3rem;
    top: 0;
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    gap: .5rem;
    z-index: 1000;
    background-color: #141d37;
    border-radius: 10px;
    transition: 0.5s;
    
}

#menu-btn:hover{
    box-shadow: 0 0 0.5rem #070a13;
    transform: scale(1.05);
}

span{
    border-top: 2px solid;
    width: 2rem;
    height: 2px;
    color: white;
    margin-bottom: 1.5rem;
    
}

span::after, span::before{
    content: '';
    display: block;
    width: 2rem;
    height: 2px;
    margin-top: 10px;
    background-color: currentColor;
    transition: 0.3s ease-in-out;
    position: relative;

}




.menu-itens ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 0vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    text-align: left;
    transition: 0.4s ease-in-out;
    visibility: hidden;
    overflow-y: hidden;
    list-style: none;
    
    
    
}
.menu-itens ul li a {
    margin: 10px 0;
    color: #141d37;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    transition: .3s ease-in-out;
   
}

.menu-itens ul li a:hover{
    filter: drop-shadow(0 0 0.5rem #141d37);
    
}

.img{
    height: 2rem;
    width: 2rem;
    margin-top: 5rem;
    cursor: pointer;
    background-image: url(https://cdn-icons-png.flaticon.com/512/5895/5895144.png);
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
    color: transparent;
}

nav.active.menu-itens ul{
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    text-align: left;
    transition: 0.4s ease-in-out;
    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 1rem #070a13;
    border-bottom-left-radius: 25px;
    
    
}

nav.active span{
    border-top-color: transparent;
}

nav.active span::after{
    transform: rotate(135deg);
    color: white;
    top: -12px;
}

nav.active span::before{
    transform: rotate(-135deg);
    
    color: white;
}





/*card*/
#container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    background-color: white;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem ;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #141d37;
    color: white;
    filter: grayscale(0.75);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 508px) {
    #container {
        width: 100%;
        height: fit-content;
        justify-content: center;
        
    }

    .card{
        width: 200px;
        height: 200px;
    }

    .card-wrapper h2{
        font-size: 15px;
    }

    .card-text {
        
        margin-bottom: 80px;
        width: 100px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
    }

    .projetos {
        
        text-align: center;
    }

    .card-text{
        text-align: center;
    }

    nav.active.menu-itens ul{
        width: 100%;
        height: 100vh;   
        text-align: center;
        justify-content: center;
        z-index: 999;
        
    
    }

    .menu-itens ul {   
        width: 100%;
        height: 0px; 
        text-align: center; 
    }

    .img{
        position: absolute;
        bottom: 60px;
        left: 5rem;
    }

    #menu-btn{
        margin-top: 20px;
        right: 10px;
    }

    #eu{
        height: 0;
        width: 0;
    }



    

   
}

.card-text{
    width: 60%;
    letter-spacing: 1px;
    color: rgb(83, 97, 128);
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 40 px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;

}

.projetos{
    text-decoration: none;
}

/* SOBRE */

section{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;


}

#text{
    margin-right: 30vh;
    margin-left: 30vh;
}

section p{

    text-align: center;
}

#lista li{
    padding-top: 20px;
    font-size: 20px;
    font-style: bold;
}

.habilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

/* SCROLL */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{

    background-color: #141d37;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    width: 10px;
}


@media screen and (max-width: 508px) {
    #sobre h2 {
        font-size: 20px;
    }

    #sobre p{
        font-size: 12px;
        letter-spacing: 1px;
    }

    #text {
        width: 400px;
        margin-bottom: 40px;
    }
    .habilities h2 {
       text-align: center;
    }
    img{
        height: auto;
        width: 15vh;
    }
}

  /*dark */

body.dark{

    color: #141d37;
    background-color: white;
    

}

body.dark .social-media a  {

    color: #141d37;  
    border: 1px solid #141d37;
}

body.dark .social-media a:hover{
    background-color: #141d37;
    color: white;
    box-shadow: 0 0 2em #141d37;
}

body.dark #menu-btn{

    background-color: white;
}

body.dark span {
    color: #141d37;
}

body.dark span::after, body.dark span::before{
    background-color: #141d37;
}

body.dark .menu-itens ul{
    background-color: #141d37;
    color: white;
}

body.dark .menu-itens ul li a {
    color: white;
}

body.dark #container{
    background-color: #141d37;
}

body.dark .card{
    background-color: white;
    color: #141d37;
    filter: grayscale(0.75);
}

body.dark .card-text{
    color: white;
}

.card-wrapper::before{
    border-color: #141d37;
}


body.dark ::-webkit-scrollbar{
    width: 15px;
}


body.dark::-webkit-scrollbar-track{

    background-color: white;
    width: 10px;
}

body.dark::-webkit-scrollbar-thumb{
    background-color: #141d37;
    width: 10px;
}

body.dark .img{

    background-image: url(https://cdn-icons-png.flaticon.com/512/5894/5894955.png);
}

body.dark .menu-itens ul li a:hover{
    filter: drop-shadow(0 0 0.5rem white);
    
}

body.dark #eu{
    background-image: url('./imagem/fundo.png');
}
