@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

img {
position: absolute;
top: -3%;
left: 0;
height: auto;
width: 20vh;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141d37
    
}

#header-container{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat ;
    background-position: 80%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media{
    margin-top: 3rem;
    display: flex;
    width: 5rem;
}

.social-media a {
    text-decoration: none;
    color: white;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem ;
    display: flex;
    align-items: center;
    justify-items: center;
    transition: .5s ease-in-out;
    
    
}

.social-media a:hover{
    background-color: white;
    color: #141d37;
    box-shadow: 0 0 2em white;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: white ;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
} 

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

@media screen and (max-width: 508px) {
    h1{
        font-size: 28px;
        text-align: center;
    }

    .logo h2{
        
        font-size: 15px;
        text-align: center;

    }

    .logo{
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

/* menu */

.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px white;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;

}

.menu-itens ul {
    list-style-type: none;
}
.menu-itens ul li a {
    margin: 10px 0;
    color: #141d37;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
    background-color: #141d37;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
    
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
    background-color: #141d37;
}

#toggle:checked + .checkbox{
    background-color: white;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-itens{
    visibility: visible;
    opacity: 1;

}


/*card*/
#container {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
    background-color: white;
}

.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem ;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #141d37;
    color: white;
    filter: grayscale(0.75);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 508px) {
    #container {
        
        height: fit-content;
    }

    .card-text {
        margin-left: 40px;
        margin-bottom: 80px;
        width: 100px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projetos {
        margin-left: 48px;
        text-align: center;
    }

    .card-text{
        text-align: center;
    }
}

.card-text{
    width: 60%;
    letter-spacing: 1px;
    color: rgb(83, 97, 128);
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 40 px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover{
    filter: unset;
}

.card:hover > .card-wrapper::before{
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;

}

.projetos{
    text-decoration: none;
}

/* SOBRE */

section{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;


}

#text{
    margin-right: 30vh;
    margin-left: 30vh;
}

section p{

    text-align: center;
}

#lista li{
    padding-top: 20px;
    font-size: 20px;
    font-style: bold;
}

.habilities{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SCROLL */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{

    background-color: #141d37;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    width: 10px;
}


@media screen and (max-width: 508px) {
    #sobre h2 {
        font-size: 28px;
    }

    #text {
        width: 400px;
        margin-bottom: 40px;
    }
    .habilities h2 {
       margin-left: 80px;
       text-align: center;
    }
    img{
        height: auto;
        width: 15vh;
    }
}
